:root {
  --page-max-width: 1190px;
  --page-padding: 10px;
  --page-background-light-theme: #fff;
  --page-background-dark-theme: #1e1e1e;

  --font-size-l: 24px;
  --font-size-m: 16px;
  --font-size-s: 14px;

  --header-text-color-light-theme: #444;
  --header-text-color-dark-theme: #fff;

  --header-delimiter-color-light-theme: #e1e1e1;
  --header-delimiter-color-dark-theme: #444;

  --placeholder-color: #868686;

  --dropdown-hover-color: #6d6d6d;
  --dropdown-selected-color-light-theme: #f5f5f5;
  --dropdown-selected-color-dark-theme: #505050;

  --input-border-color-light-theme: #d7d7d7;
  --input-border-color-dark-theme: #444;

  --toggler-background-light-theme: #17161c;
  --toggler-background-dark-theme: #c2c2c2;
  --toggler-switcher-background: #fff;

  --main-text-color-light-theme: #000;
  --main-text-color-dark-theme: #fff;

  --secondary-text-color-light-theme: #1d448e;
  --secondary-text-color-dark-theme: #547ac5;

  --product-card-border-color-light-theme: #d7d7d7;
  --product-card-border-color-dark-theme: #0b0b0b;
}

@mixin easeTransition($property) {
  transition: $property ease 0.3s;
}

@mixin font-montserrat-700 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
}

@mixin font-montserrat-400 {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
}

@mixin font-roboto-400 {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
}
