@import '../../../app/styles/variables.scss';

.main-page {
  @include easeTransition(background);
  min-height: 100vh;
  background: var(--page-background-light-theme);

  &_dark {
    background: var(--page-background-dark-theme);
  }

  &__content-wrapper {
    max-width: var(--page-max-width);
    padding: 0 var(--page-padding);
    margin: 30px auto 0;
  }
}
